<div id="backgroundImg">
<div id="wrapper">
<div class="formcontainer">


  <div class="container">
    <h1 id="signUp">Sign in </h1><br>
    <h3 id="ifYouHave">if you have any problems logging  in<br><span class="margin"> feel free to <a>Contact The Support</a></span></h3>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <input type="text" formControlName="email" class="form-control" placeholder="Email" required >
  </div>
  <div class="form-group">

    <input type="password" formControlName="password" class="form-control" placeholder="password" required>
  </div>
  <input type="checkbox"><span id="keepMeLoggedIn"> keep me logged in</span>
<button type="submit"> Sign In</button>

</form>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <span>not a member?
  <button id="register" type="button"  (click)="register()">Sign up Instead</button></span>
</div>



</div>
</div>
</div>
