<div id="wrapperBack">
  <div
    class="container shadow-lg p-3 mb-5 bg-white rounded"
    [ngStyle]="{ 'background-color': '#ffffff' }"
  >
    <div
      *ngFor="let m of messages"
      class="containerChat"
      [ngClass]="{'myMessage':this.isMeOrSomeElse(m)==='m','otherMessage':this.isMeOrSomeElse(m)==='s'}"
      >
      <p
        [ngStyle]="{
          'color': m.sender == this.authService.userValue.id ? 'white' : '#262627'
        }"
      >
        {{ m.text }}
      </p>
      <span class="time-right">{{ m.sentAt | date: "short" }}</span>
    </div>

    <form [formGroup]="messageFrom" (ngSubmit)="onSubmit()">
      <div>
        <input
          id="text"
          type="text"
          formControlName="text"
          class="form-control border enterMess"
        />
      </div>
      <button class="button" type="submit">send</button>
    </form>
    <router-outlet></router-outlet>
  </div>
  <a [routerLink]="['/forum']"> forum here please </a>
</div>
